{% extends 'base.html' %}
{% load static %}


{% block content1 %}
    <h2>REGISTER</h2>
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <!-- ajax link  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <form method="POST" onsubmit="return validateForm()" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputUsername">Username</label>
        <input name="username" type="text" onkeyup="checkUsernameAvailability()" class="form-control" id="username" aria-describedby="userNameHelp" placeholder="Enter username" required>
        <span id="usernameMessage"></span>
      </div>

    <div class="form-group">
        <label for="exampleInputFirstname">Firstname</label>
        <input name="firstName" type="text" class="form-control" id="firstname" aria-describedby="firstnameHelp" placeholder="Enter first name" required>
    </div>

    <div class="form-group">
        <label for="exampleInputLastname">Lastname</label>
        <input name="lastName" type="text" class="form-control" id="lastname" aria-describedby="lastNameHelp" placeholder="Enter last name" required>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name="email" onkeyup="checkEmail()" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
      <span id="emailError"></span>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password" type="password" onkeyup="checkPassword()" class="form-control" id="password" placeholder="Password" required>
      <span id="passwordError"></span>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input name="password1" type="password" onkeyup="checkPasswordEqual()" class="form-control" id="confirmPassword" placeholder="Password" required>
    </div>

    <div class="form-check">
      <input name="terms" type="checkbox" class="form-check-input" id="agree">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    <script src="{% static 'javascript/register.js' %}"></script>
{% endblock %}